---
import BentoItems from "@/components/Cafeterias/Bento/BentoItems.astro";
---

<section
    class={`
        w-full max-w-[1400px]
        grid grid-cols-8 auto-rows-[15rem] gap-4
        mx-auto p-48
    `}
>
    <BentoItems title="" class="col-span-1 -mt-44">
        <div
            slot="image"
            class="absolute left-0 top-0 bottom-0 w-full
            h-full group-hover:scale-110 transition-scale duration-1000
            ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
            style="background-image: url('/cafeterias/bento/Bento1.jpg')"
        >
        </div>
    </BentoItems>
    <BentoItems title="" class="col-span-1 -mt-44">
        <div
            slot="image"
            class="absolute left-0 top-0 bottom-0 w-full
            h-full group-hover:scale-110 transition-scale duration-1000
            ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
            style="background-image: url('/cafeterias/bento/Bento2.jpg')"
        >
        </div>
    </BentoItems>
    <BentoItems title="" class="col-span-1 -mt-44">
        <div
            slot="image"
            class="absolute left-0 top-0 bottom-0 w-full
            h-full group-hover:scale-110 transition-scale duration-1000
            ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
            style="background-image: url('/cafeterias/bento/Bento3.jpg')"
        >
        </div>
    </BentoItems>
    <BentoItems title="" class="col-span-1 -mt-44">
        <div
            slot="image"
            class="absolute left-0 top-0 bottom-0 w-full
            h-full group-hover:scale-110 transition-scale duration-1000
            ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
            style="background-image: url('/cafeterias/bento/Bento4.jpg')"
        >
        </div>
    </BentoItems>
    <BentoItems title="" class="col-span-1 -mt-44">
        <div
            slot="image"
            class="absolute left-0 top-0 bottom-0 w-full
            h-full group-hover:scale-110 transition-scale duration-1000
            ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
            style="background-image: url('/cafeterias/bento/Bento1.jpg')"
        >
        </div>
    </BentoItems>
    <BentoItems title="" class="col-span-1 -mt-44">
        <div
            slot="image"
            class="absolute left-0 top-0 bottom-0 w-full
            h-full group-hover:scale-110 transition-scale duration-1000
            ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
            style="background-image: url('/cafeterias/bento/Bento2.jpg')"
        >
        </div>
    </BentoItems>
    <BentoItems title="" class="col-span-1 -mt-44">
        <div
            slot="image"
            class="absolute left-0 top-0 bottom-0 w-full
            h-full group-hover:scale-110 transition-scale duration-1000
            ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
            style="background-image: url('/cafeterias/bento/Bento3.jpg')"
        >
        </div>
    </BentoItems>
    <BentoItems title="" class="col-span-1 -mt-44">
        <div
            slot="image"
            class="absolute left-0 top-0 bottom-0 w-full
            h-full group-hover:scale-110 transition-scale duration-1000
            ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
            style="background-image: url('/cafeterias/bento/Bento4.jpg')"
        >
        </div>
    </BentoItems>
</section>
