<div class="w-full relative">
    <img
        class="fondo w-full h-screen object-cover object-top animate-fade animate-duration-1000 -z-10"
        src="/FondoPrincipalCafeterias.jpg"
        alt="Imagen Fondo Pagina Principal"
    />
    <div>
        <div class="relative text-center -top-80 text-xl text-white z-10">
            <h1>DISFRITA LA EXPERIENCIA</h1>
        </div>
        <div class="relative text-center -top-80 text-5xl text-white z-10">
            <h1><strong>Cafeterías</strong></h1>
        </div>
    </div>
</div>

<style>
    .fondo {
        mask-image: linear-gradient(
            black 85%,
            transparent
        )
    }
</style>