---
import Button from "@/components/buttom";
import LanguageSelector from "@/components/Header/LenguageSelector.astro";
import HeaderLink from "@/components/Header/HeaderLink.astro";

import MenuIcon from "@/components/icons/Menu.astro";
import CloseIcon from "@/components/icons/Close.astro";

import { getI18N } from "@/i18n/index";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@/i18n/utils";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<header id="header-nav" class="fixed top-0 w-full px-6 py-4 z-50">
  <div class="max-w-7xl mx-auto flex items-center justify-between gap-16">
    <HeaderLink
      checkActive={false}
      href={translatePath("/")}
      class="relative z-10"
      aria-label={i18n.HEADER.LOGO}
    >
      <img
        src="/logos/LogoCompleto.png"
        class="absolute w-22 m-auto blur-sm opacity-0 transition-opacity duration-300 hover:opacity-100"
      />
      <img src="/logos/LogoCompleto.png" class="w-20" />
    </HeaderLink>
    <nav
      id="header-menu"
      class="fixed w-full h-dvh inset-0 bg-[#706957]/90 md:text-xl lg:text-xl flex flex-col items-center justify-center gap-8 -translate-y-full transition-transform duration-300 target:translate-y-0 md:static md:h-[initial] md:bg-[initial] md:flex-row md:translate-y-[initial]"
    >
      <HeaderLink
        class="text_glowing text-white"
        href={translatePath("/cafeterias/")}
      >
        {t("nav.Cafeterías")}
      </HeaderLink>
      <HeaderLink
        class="text_glowing text-white"
        href={translatePath("/nosotros/")}
      >
        {t("nav.Nosotros")}
      </HeaderLink>
      <HeaderLink
        class="text_glowing text-white"
        href={translatePath("/tienda/")}
      >
        {t("nav.Tienda")}
      </HeaderLink>
      <HeaderLink
        class="text_glowing text-white"
        href={translatePath("/menu/")}
      >
        {t("nav.Menu")}
      </HeaderLink>
      <LanguageSelector />
      <Button
        className="md:py-2 md:ml-auto md:text-base lg:text-base hover:text-[#0b7200]"
        url="https://web.whatsapp.com/send?phone=522293315478&text="
      >
        <svg
          class=""
          style="pointer-events:none; display:block; height:20px; width:20px;"
          height="20px"
          version="1.1"
          viewBox="0 0 509 512"
          width="20px"
        >
          <g
            fill="none"
            fill-rule="evenodd"
            id="Page-1"
            stroke="none"
            stroke-width="1"
          >
            <path
              style="fill: #ffffff;"
              d="M259.253137,0.00180389396 C121.502859,0.00180389396 9.83730687,111.662896 9.83730687,249.413175 C9.83730687,296.530232 22.9142299,340.597122 45.6254897,378.191325 L0.613226597,512.001804 L138.700183,467.787757 C174.430395,487.549184 215.522926,498.811168 259.253137,498.811168 C396.994498,498.811168 508.660049,387.154535 508.660049,249.415405 C508.662279,111.662896 396.996727,0.00180389396 259.253137,0.00180389396 L259.253137,0.00180389396 Z M259.253137,459.089875 C216.65782,459.089875 176.998957,446.313956 143.886359,424.41206 L63.3044195,450.21808 L89.4939401,372.345171 C64.3924908,337.776609 49.5608297,295.299463 49.5608297,249.406486 C49.5608297,133.783298 143.627719,39.7186378 259.253137,39.7186378 C374.871867,39.7186378 468.940986,133.783298 468.940986,249.406486 C468.940986,365.025215 374.874096,459.089875 259.253137,459.089875 Z M200.755924,146.247066 C196.715791,136.510165 193.62103,136.180176 187.380228,135.883632 C185.239759,135.781068 182.918689,135.682963 180.379113,135.682963 C172.338979,135.682963 164.002301,138.050856 158.97889,143.19021 C152.865178,149.44439 137.578667,164.09322 137.578667,194.171258 C137.578667,224.253755 159.487251,253.321759 162.539648,257.402027 C165.600963,261.477835 205.268745,324.111057 266.985579,349.682963 C315.157262,369.636141 329.460495,367.859106 340.450462,365.455539 C356.441543,361.9639 376.521811,350.186865 381.616571,335.917077 C386.711331,321.63837 386.711331,309.399797 385.184018,306.857991 C383.654475,304.305037 379.578667,302.782183 373.464955,299.716408 C367.351242,296.659552 337.288812,281.870254 331.68569,279.83458 C326.080339,277.796676 320.898622,278.418749 316.5887,284.378615 C310.639982,292.612729 304.918689,301.074268 300.180674,306.09099 C296.46161,310.02856 290.477218,310.577055 285.331175,308.389764 C278.564174,305.506821 259.516237,298.869139 236.160607,278.048627 C217.988923,261.847958 205.716906,241.83458 202.149458,235.711949 C198.582011,229.598236 201.835077,225.948292 204.584241,222.621648 C207.719135,218.824546 210.610997,216.097679 213.667853,212.532462 C216.724709,208.960555 218.432625,207.05866 220.470529,202.973933 C222.508433,198.898125 221.137195,194.690767 219.607652,191.629452 C218.07588,188.568136 205.835077,158.494558 200.755924,146.247066 Z"
              fill="#ffffff"
              id="htwaicon-chat"></path>
          </g>
        </svg>
      </Button>
      <a href="#header-nav" class="md:hidden absolute top-6 right-6">
        <CloseIcon />
      </a>
    </nav>
    <a href="#header-menu" class="md:hidden"><MenuIcon /></a>
  </div>
</header>
