<div class="w-full relative">
    <img
        class="w-full h-screen object-cover object-top animate-fade animate-duration-1000 -z-10"
        src="/FondoPrincipal.jpg"
        alt="Imagen Fondo Pagina Principal"
    />
    <div class="relative text-center -top-80 text-xl text-white z-10">
        <h1><strong>DE NUESTRA FINCA A TU TASA</strong></h1>
    </div>
</div>
<img
    class="absolute -bottom-48 blur-3xl -z-10"
    src="/FondoPrincipal.jpg"
    alt="Imagen Fondo Pagina Principal con blur"
/>
